{# @CustomBlogPlugin/admin/list.twig #}
{% sw_extends '@Administration/layout/base.html.twig' %}

{% block content %}
    <div id="app"></div>
    <script type="module">
        import { Component } from 'src/core/shopware';
        import template from './list.html.twig';

        Component.override('sw-admin-menu', {
            template
        });
    </script>
{% endblock %}
