{# src/Resources/views/administration/index.html.twig #}
...
<div class="navigation">
    <sw-navigation-item
        label="Custom Blog"
        icon="default-text"
        route="custom_blog_plugin.list"
    ></sw-navigation-item>
    ...
</div>
...
